:root {
    --dark-blue: #3c4d80;
    --light-blue: #e3eaff;
    --theme-blue: #789aff;
    --neutral: #697187;
    --secondary: #607bcc;
    --white: #dfdfdf;
    --black: #000000;

    --invalid-red: #a12626;
    --invalid-light-red: #ffeaea;
}

body {
    background-color: #e3eaff;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 0.9em;
    margin: 0;
}

/* --- hide the input buttons --- */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.view {
    position: absolute;
    width: 100%;
    height: 100%;
}

.view:not(.open) {
    display: none !important;
}

#start.view {
    display: flex;
    align-content: center;
    justify-content: center;

    text-align: center;

    height: auto;
    min-height: 100vh;
}

#start .sectionsContainer {
    display: inline-block;
    align-self: center;
    text-align: left;
    height: auto;
    width: 26em;
}

#start .sections {
    display: grid;
    grid-template:
        "top"
        "middle";
    grid-template-rows: 1fr 2fr;

    margin-bottom: 64px;
}

#start .section.top {
    grid-area: top;
    width: 100%;
    height: 100%;
    align-self: center;
}

#start .logoContainer {
    width: 100%;
    height: 100%;
}

#start .logoContainer img {
    width: 100%;
    height: 100%;
}

#start .section.middle {
    padding: 16px;
    background-color: var(--light-blue);
    color: var(--black);
    box-shadow: #00000041 0 0 32px;
}

.horizontalSelect {
    display: flex;
    flex-direction: row;

    background-color: var(--dark-blue);
    color: var(--white);

    width: 100%;
    margin-bottom: 32px;
}

.horizontalSelect span {
    display: block;
    flex-grow: 1;
    text-align: center;
    padding: 8px;
}

.horizontalSelect span:hover {
    background-color: var(--theme-blue);
    color: var(--black);
    box-shadow: 0 0 8px #3856ff;
}

.timeAndDateSelect {
    display: grid;
    grid-template:
        "dateSelect"
        "timeSelect"
        "submitContainer";

    gap: 32px;
}

.timeAndDateSelect .dateSelect {
    grid-area: dateSelect;
}

.timeAndDateSelect .timeSelect {
    grid-area: timeSelect;
}

.timeAndDateSelect .select {
    display: flex;
    width: 100%;
}

.timeAndDateSelect .input {
    position: relative;
    flex-grow: 1;

    margin: 4px;
    margin-top: -6px;

    display: grid;
    grid-template:
        "input"
        "label";
}

.timeAndDateSelect .input.invalid {
    color: var(--invalid-red);
}

.timeAndDateSelect .input label {
    grid-area: label;
    width: 100%;
    margin-top: 2px;
    font-size: 0.85em;
}

.timeAndDateSelect .input.invalid::before {
    content: "";
    display: block;
    position: absolute;

    bottom: 48px;
    left: 2px;
    width: 8px;
    height: 8px;

    transform: rotate(45deg);

    background-color: var(--invalid-red);
    box-shadow: 0 2px 16px rgb(0, 0, 0, 0.25);
}

.timeAndDateSelect .input.invalid::after {
    content: attr(reason-invalid);
    display: block;
    position: absolute;

    box-sizing: border-box;

    width: 100%;
    bottom: 52px;
    padding: 8px;

    background-color: var(--invalid-light-red);
    box-shadow: 0 2px 16px rgb(0, 0, 0, 0.25);

    font-size: 0.9em;
}

.timeAndDateSelect .input input {
    grid-area: input;
    width: 100%;

    height: 1.2em;
    background-color: transparent;

    font-size: 1em;
    font-family: inherit;

    margin-top: 4px;
    outline: none;

    border-radius: 0;

    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid var(--dark-blue);

    transition: 0.15s border-bottom-color ease;
}

.timeAndDateSelect .input.invalid input {
    border-color: var(--invalid-red);
}

.timeAndDateSelect .input input::placeholder {
    color: var(--dark-blue);
    opacity: 1;
}

.timeAndDateSelect .input input:focus {
    border-bottom-color: var(--theme-blue);
}

.timeAndDateSelect .submitContainer {
    grid-area: submitContainer;
    display: flex;
    align-items: center;
    height: 64px;
    background-color: var(--theme-blue);
    color: var(--black);
}

.timeAndDateSelect .submitContainer > div {
    width: 100%;
    text-align: center;
}

#countdown .timerContainer {
    position: absolute;
    padding: 8px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}

#countdown .timer {
    display: grid;

    height: auto;
    width: auto;
    max-width: 100vw;
    min-width: 0;

    row-gap: 4px;
    column-gap: 1em;

    white-space: nowrap;
}

#countdown .leadingZero {
    display: none;
}

#countdown .first {
    font-size: 1.7em;
}

#countdownSeparator {
    display: block;
    width: 2em;
    height: 1px;

    margin-left: auto;
    margin-right: auto;

    margin-top: 0.5em;
    margin-bottom: 0.5em;

    border-top: 1px solid var(--black);
}

#countdownTotalMilliseconds,
#countdownTotalYears {
    font-size: 0.8rem;
    opacity: 0.6;
}

#countdownNegative {
    font-size: 0.4em;
}

/* --- Layouts --- */

#countdown[firstnonzero="months"] #countdownMilliseconds,
#countdown[firstnonzero="years"] #countdownMilliseconds,
#countdown[firstnonzero="days"] #countdownMilliseconds,
#countdown[firstnonzero="hours"] #countdownMilliseconds {
    display: none;
}

#countdown[firstnonzero="years"] .timer {
    grid-template:
        "years years years years years years"
        "months months months days days days"
        "hours hours minutes minutes seconds seconds";

    column-gap: 0.5em;
}

#countdown[firstnonzero="months"] .timer {
    grid-template:
        "months months months"
        "days days days"
        "hours minutes seconds";
}

#countdown[firstnonzero="days"] .timer {
    grid-template:
        "days days days"
        "hours minutes seconds";
}

#countdown[firstnonzero="hours"] .timer {
    grid-template:
        "hours hours"
        "minutes seconds";
}

#countdown[firstnonzero="minutes"] .timer,
#countdown[firstnonzero="seconds"] .timer,
#countdown[firstnonzero="milliseconds"] .timer {
    column-gap: 0;
}

#countdown[firstnonzero="minutes"] #countdownSeconds,
#countdown[firstnonzero="seconds"] #countdownSeconds,
#countdown[firstnonzero="milliseconds"] #countdownSeconds,
#countdown[firstnonzero="minutes"] #countdownMilliseconds,
#countdown[firstnonzero="seconds"] #countdownMilliseconds,
#countdown[firstnonzero="milliseconds"] #countdownMilliseconds {
    font-size: 1.7em;
}

#countdown[firstnonzero="minutes"] #countdownSeconds::after,
#countdown[firstnonzero="seconds"] #countdownSeconds::after,
#countdown[firstnonzero="milliseconds"] #countdownSeconds::after {
    content: "";
}

#countdown[firstnonzero="minutes"] .timer {
    grid-template:
        "minutes minutes"
        "seconds milliseconds";
}

#countdown[firstnonzero="seconds"] .timer,
#countdown[firstnonzero="milliseconds"] .timer {
    grid-template: "seconds milliseconds";
}

#countdown[firstnonzero="milliseconds"] #countdownSeconds {
    display: block;
}

/* --- grid areas --- */

#countdownYears {
    grid-area: years;
}

#countdownMonths {
    grid-area: months;
}

#countdownDays {
    grid-area: days;
}

#countdownHours {
    grid-area: hours;
}

#countdownMinutes {
    grid-area: minutes;
}

#countdownSeconds {
    grid-area: seconds;
}

#countdownMilliseconds {
    grid-area: milliseconds;
}

#countdownYears::after {
    content: " years";
}

#countdownYears.singular::after {
    content: " year";
}

#countdownMonths::after {
    content: " months";
}

#countdownMonths.singular::after {
    content: " month";
}

#countdownDays::after {
    content: " days";
}

#countdownDays.singular::after {
    content: " day";
}

#countdownHours::after {
    content: " hr";
}

#countdownMinutes::after {
    content: " m";
}

#countdownSeconds::after {
    content: " s";
}

#countdownMilliseconds::before {
    content: ".";
}

#countdownMilliseconds::after {
    content: " s";
}

#countdownTotalMilliseconds::after {
    content: " total ms";
}

#countdownTotalYears::after {
    content: " total years";
}
