:root {
    --dark-blue: #3c4d80;
    --light-blue: #e3eaff;
    --theme-blue: #789aff;
    --neutral: #697187;
    --secondary: #607bcc;
    --white: #dfdfdf;
    --black: #000000;
}

body {
    background-color: #e3eaff;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 0.9em;
    margin: 0;
}

.view:not(.open) {
    display: none !important;
}

#start.view {
    display: grid;
    grid-template:
        "top"
        "middle";

    grid-template-rows: 1fr 2fr;

    width: 100%;
    height: 100vh;
}

#start .section.top {
    grid-area: top;
    width: 100%;
    height: 100%;
    align-self: center;
}

#start .logoContainer {
    width: 100%;
    height: 100%;
}

#start .logoContainer img {
    width: 100%;
    height: 100%;
}

#start .section.middle {
    padding: 16px;
    background-color: var(--light-blue);
    color: var(--black);
    box-shadow: #00000041 0 0 32px;
}

.horizontalSelect {
    display: flex;
    flex-direction: row;

    background-color: var(--dark-blue);
    color: var(--white);

    width: 100%;
    margin-bottom: 32px;
}

.horizontalSelect span {
    display: block;
    flex-grow: 1;
    text-align: center;
    padding: 8px;
}

.horizontalSelect span:hover {
    background-color: var(--theme-blue);
    color: var(--black);
    box-shadow: 0 0 8px #3856ff;
}

.timeAndDateSelect {
    display: grid;
    grid-template:
        "dateSelect"
        "timeSelect"
        "submitContainer";

    gap: 32px;
}

.timeAndDateSelect .dateSelect {
    grid-area: dateSelect;
}

.timeAndDateSelect .timeSelect {
    grid-area: timeSelect;
}

.timeAndDateSelect .select {
    display: flex;
    width: 100%;
}

.timeAndDateSelect .input {
    flex-grow: 1;

    margin: 4px;

    display: grid;
    grid-template:
        "input"
        "label";
}

.timeAndDateSelect .input label {
    grid-area: label;
    width: 100%;
    margin-top: 2px;
    font-size: 0.85em;
}

.timeAndDateSelect .input input {
    grid-area: input;
    width: 100%;

    height: 1.2em;
    background-color: transparent;

    margin-top: 4px;
    outline: none;

    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid var(--dark-blue);

    transition: 0.15s border-bottom-color ease;
}

.timeAndDateSelect .input input:focus {
    border-bottom-color: var(--theme-blue);
}

.timeAndDateSelect .submitContainer {
    grid-area: submitContainer;
    display: flex;
    align-items: center;
    height: 64px;
    background-color: var(--theme-blue);
    color: var(--black);
}

.timeAndDateSelect .submitContainer > div {
    width: 100%;
    text-align: center;
}

#countdown .timerContainer {
    width: 100%;
    height: 100%;
}

#countdown .timer {
    display: grid;
    position: absolute;

    padding: 8px;
    width: auto;
    row-gap: 4px;
    column-gap: 1em;

    font-size: 5vw;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#countdown .timer > div {
    text-align: center;
}

#countdown .leadingZero {
    display: none;
}

#countdown .first {
    font-size: 1.7em;
}

#countdownTotalMilliseconds {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid var(--black);
}

#countdownTotalMilliseconds,
#countdownTotalYears {
    font-size: 1rem;
    opacity: 0.6;
}

#countdownNegative {
    font-size: 0.6em;
}

/* --- Layouts --- */

#countdown[firstnonzero="months"] #countdownMilliseconds,
#countdown[firstnonzero="years"] #countdownMilliseconds,
#countdown[firstnonzero="days"] #countdownMilliseconds,
#countdown[firstnonzero="hours"] #countdownMilliseconds {
    display: none;
}

#countdown[firstnonzero="years"] .timer {
    grid-template:
        "years years years years years years"
        "months months months days days days"
        "hours hours minutes minutes seconds seconds"
        "negative negative negative negative negative negative"
        "totalMilliseconds totalMilliseconds totalMilliseconds totalMilliseconds totalMilliseconds totalMilliseconds"
        "totalYears totalYears totalYears totalYears totalYears totalYears";

    column-gap: 0.5em;
}

#countdown[firstnonzero="months"] .timer {
    grid-template:
        "months months months"
        "days days days"
        "hours minutes seconds"
        "negative negative negative"
        "totalMilliseconds totalMilliseconds totalMilliseconds"
        "totalYears totalYears totalYears";
}

#countdown[firstnonzero="days"] .timer {
    grid-template:
        "days days days"
        "hours minutes seconds"
        "negative negative negative"
        "totalMilliseconds totalMilliseconds totalMilliseconds"
        "totalYears totalYears totalYears";
}

#countdown[firstnonzero="hours"] .timer {
    grid-template:
        "hours hours"
        "minutes seconds"
        "negative negative"
        "totalMilliseconds totalMilliseconds"
        "totalYears totalYears";
}

#countdown[firstnonzero="minutes"] .timer,
#countdown[firstnonzero="seconds"] .timer,
#countdown[firstnonzero="milliseconds"] .timer {
    column-gap: 0;
}

#countdown[firstnonzero="minutes"] #countdownSeconds,
#countdown[firstnonzero="seconds"] #countdownSeconds,
#countdown[firstnonzero="milliseconds"] #countdownSeconds,
#countdown[firstnonzero="minutes"] #countdownMilliseconds,
#countdown[firstnonzero="seconds"] #countdownMilliseconds,
#countdown[firstnonzero="milliseconds"] #countdownMilliseconds {
    font-size: 1.7em;
}

#countdown[firstnonzero="minutes"] #countdownSeconds::after,
#countdown[firstnonzero="seconds"] #countdownSeconds::after,
#countdown[firstnonzero="milliseconds"] #countdownSeconds::after {
    content: "";
}

#countdown[firstnonzero="minutes"] .timer {
    grid-template:
        "minutes minutes"
        "seconds milliseconds"
        "negative negative"
        "totalMilliseconds totalMilliseconds"
        "totalYears totalYears";
}

#countdown[firstnonzero="seconds"] .timer,
#countdown[firstnonzero="milliseconds"] .timer {
    grid-template:
        "seconds milliseconds"
        "negative negative"
        "totalMilliseconds totalMilliseconds"
        "totalYears totalYears";
}

#countdown[firstnonzero="milliseconds"] #countdownSeconds {
    display: block;
}

/* --- grid areas --- */

#countdownYears {
    grid-area: years;
}

#countdownMonths {
    grid-area: months;
}

#countdownDays {
    grid-area: days;
}

#countdownHours {
    grid-area: hours;
}

#countdownMinutes {
    grid-area: minutes;
}

#countdownSeconds {
    grid-area: seconds;
}

#countdownMilliseconds {
    grid-area: milliseconds;
}

#countdownNegative {
    grid-area: negative;
}

#countdownTotalMilliseconds {
    grid-area: totalMilliseconds;
}

#countdownTotalYears {
    grid-area: totalYears;
}

#countdownYears::after {
    content: " years";
}

#countdownYears.singular::after {
    content: " year";
}

#countdownMonths::after {
    content: " months";
}

#countdownMonths.singular::after {
    content: " month";
}

#countdownDays::after {
    content: " days";
}

#countdownDays.singular::after {
    content: " day";
}

#countdownHours::after {
    content: " hr";
}

#countdownMinutes::after {
    content: " m";
}

#countdownSeconds::after {
    content: " s";
}

#countdownMilliseconds::before {
    content: ".";
}

#countdownMilliseconds::after {
    content: " s";
}

#countdownTotalMilliseconds::after {
    content: " total ms";
}

#countdownTotalYears::after {
    content: " total years";
}
